            img.logo {
                border-radius: 30% 30% 30% 30%;
                box-shadow: inset 0 0 98px 98px white;
                float: left;
                margin: 0.5%;
            }
            
             :root {
                --backgroundColor: rgb(138, 203, 167);
            }
            
            html {
                background-image: url("1.jpg");
                background-size: cover;
                background-position: center;
                -background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }
            
            * {
                font-family: sans-serif;
                padding: 0.1%;
                margin: 0%;
            }
            
            h1.logoName span:hover {
                font-size: 36px;
            }
            
            body img#main {
                opacity: 0.5;
                float: none;
            }
            
            nav ul {
                padding: .5em;
                list-style-type: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
            }
            
            nav ul li {
                font-size: 1.5em;
                font-weight: bold;
                animation-name: example;
                animation-duration: 5s;
                color: black;
                border-radius: 25%;
            }
            
            nav ul li:hover {
                background-color: var(--backgroundColor);
                font-size: 30px;
            }
            
            pre.info span {
                font-size: 1.5em;
                font-weight: bold;
                white-space: pre-wrap;
                word-break: break-all;
                color: rgb(0, 0, 0);
                background-color: var(--backgroundColor);
                border-radius: 25%;
                font-family: Edu QLD Beginner, sans-serif;
            }
            
            @keyframes example {
                from {
                    background-color: rgb(118, 191, 217);
                    color: rgb(8, 20, 130);
                }
                to {
                    background-color: var(--backgroundColor);
                    color: rgb(0, 0, 0);
                }
            }
            
            summary strong {
                background-color: var(--backgroundColor);
                font-size: larger;
                border-radius: 25%;
                color: black;
            }
