header {
  text-align: left;
}

nav ul{
  justify-content: flex-start !important;
}

section img{
  margin-top: 10px;
  width: 90%;

}

#resume_link{
  margin-top: 50px;
  font-size: 30px;
}

/*--------------larger-screen--------------*/
@media screen and (min-width: 750px) {


main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 5px;

}
main section{
  border: 1px dashed black;
}


}
